<div class="animate__animated animate__fadeIn">
    <div>
        <div class="bg-dark d-flex justify-content-between align-items-center text-white px-3 py-2" style="font-family: 'Montserrat';">
            <small>-- &nbsp;&nbsp; {{ id === 0 ? 'Ajout d\'un nouvel employé' : 'Modifier des informations sur l\'employé' }}</small>
            <a routerLink="/admin/listepersonnel" class="btn btn-sm txt txt--blue">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;
                Retour
            </a>
        </div>
        <div class="py-3">
            <div class="row">
                <form
                    [formGroup]="formGroup"
                    (ngSubmit)="onSubmitForm()" 
                    class="col-9">
                    <div class="form__group mb-3">
                        <label for="" class="form__label">Direction <strong><span class="text-danger">*</span></strong></label>
                        <select 
                            formControlName="direction"
                            #idDirection
                            (change)="getDirectionDepartements(idDirection.value)"
                            class="form__select w-100">
                            <option value="">-- Choisir --</option>
                            <option 
                                *ngFor="let direction of directions"
                                [value]="direction.Id_direction">{{ direction.LibelleDirection }}</option>
                        </select>
                    </div>
                    <div class="form__group mb-3">
                        <label for="" class="form__label">Département <strong><span class="text-danger">*</span></strong></label>
                        <select
                            formControlName="departement"
                            #idDepartement
                            (change)="getDepartementServices(idDepartement.value)"
                            class="form__select w-100">
                            <option value="">-- Choisir --</option>
                            <option 
                                *ngFor="let departement of departements"
                                [value]="departement.Id">{{ departement.LibelleDepartement }}</option>
                        </select>
                    </div>
                    <div class="form__group mb-3">
                        <label for="" class="form__label">Service <strong><span class="text-danger">*</span></strong></label>
                        <select
                            formControlName="service"
                            class="form__select w-100"
                            #serviceId
                            (change)="getServiceLibelle(serviceId.value)"
                            >
                            <option value="">-- Choisir --</option>
                            <option 
                                *ngFor="let service of services"
                                [value]="service.Id">{{ service.LibelleService }}</option>
                        </select>
                    </div>

                    <div class="d-flex">
                        <div class="form__group mr-3 mb-3">
                            <label for="" class="form__label">Matricule<strong><span class="text-danger">*</span></strong></label>
                            <input type="text" class="form__input" formControlName="matricule">
                        </div>
                        <div class="form__group mr-3 mb-3">
                            <label for="" class="form__label">Nom<strong><span class="text-danger">*</span></strong></label>
                            <input type="text" class="form__input" formControlName="nom">
                        </div>
                        <div class="form__group w-50 mb-3">
                            <label for="" class="form__label">Prénom(s)<strong><span class="text-danger">*</span></strong></label>
                            <input type="text" class="form__input w-100" formControlName="prenom">
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="form__group mr-3 mb-3">
                            <label for="" class="form__label">Sexe<strong><span class="text-danger">*</span></strong></label>
                            <select
                                formControlName="sexe"
                                class="form__select">
                                <option value="">-- Sélectionnez le sexe --</option>
                                <option value="M">Masculin</option>
                                <option value="F">Féminin</option>
                            </select>
                        </div>
                        <div class="form__group w-75 mb-3">
                            <label for="" class="form__label">Fonction<strong><span class="text-danger">*</span></strong></label>
                            <input type="text" class="form__input w-100" formControlName="fonction">
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="form__group mr-3 mb-3">
                            <label for="" class="form__label">Mobile<strong><span class="text-danger">*</span></strong></label>
                            <input type="text" class="form__input" formControlName="mobile">
                        </div>
                        <div class="form__group mr-3 mb-3">
                            <label for="" class="form__label">Fax</label>
                            <input type="text" class="form__input" formControlName="fax">
                        </div>
                        <div class="form__group w-50 mb-3">
                            <label for="" class="form__label">Email</label>
                            <input type="email" class="form__input w-100" formControlName="email">
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="form__group mr-3 mb-3">
                            <label for="" class="form__label">Bâtiment</label>
                            <input type="text" class="form__input" formControlName="batiment">
                        </div>
                        <div class="form__group mr-3 mb-3">
                            <label for="" class="form__label">Porte</label>
                            <input type="text" class="form__input" formControlName="porte">
                        </div>
                        <div class="form__group mb-3 w-50">
                            <label for="" class="form__label">Poste</label>
                            <input type="text" class="form__input w-100" formControlName="poste">
                        </div>
                    </div>

                    <div class="float-right mt-3">
                        <button routerLink="/admin/listepersonnel" class="bt bt--red mr-3">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;
                            Retour
                        </button>
                        <button type="submit" class="bt bt--green" [disabled]="formGroup.invalid">
                            <i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;
                            {{ id === 0 ? 'Enregistrer': 'Modifier'}}
                        </button>
                    </div>
                </form>
                <div class="col-3">
                    <div class="card-profile bg-light w3-border m-auto">
                        <p class="py-1 w-50 text-center txt bg--orange m-auto text-white rounded--bottom">
                            <strong>{{ formGroup.get('matricule')?.value }}</strong>
                        </p>
                        <div class="mt-3"></div>
                        <div class="user-profile m-auto">
                            <img [src]="previewImage" alt="Photo de profile" class="img-thumbnail w-100 h-100">
                        </div>
                        <div class="p-3">
                            <div class="d-flex justify-content-center">
                                <h5 class="card-title text-center mb-0">
                                    <strong>{{ formGroup.get('nom')?.value | uppercase }}</strong> {{ formGroup.get('prenom')?.value | uppercase }}
                                </h5>
                            </div>
                            <p class="text-center txt--orange mb-3 mt-0 text-overflow" style="font-size: x-small;">
                                <strong>{{ formGroup.get('fonction')?.value | titlecase }}</strong>
                            </p>
                            <div class="d-flex align-items-center mb-2">
                                <div class="rounded-circle d-flex align-items-center justify-content-center bg--orange p-1" style="width: 20px; height: 20px; font-size: xx-small;">
                                    <i class="fa fa-mobile-alt text-white" aria-hidden="true"></i>
                                </div>
                                <div class="ml-2">
                                    {{ formGroup.get('mobile')?.value }}
                                </div>
                            </div>
                            <!-- <div class="d-flex align-items-center mb-2">
                                <div class="rounded-circle d-flex align-items-center justify-content-center bg-danger p-1" style="width: 30px; height: 30px;">
                                    <i class="fa fa-envelope text-white" aria-hidden="true"></i>
                                </div>
                                <div class="ml-2 txt txt--blue">
                                    {{ formGroup.get('email')?.value }}
                                </div>
                            </div> -->
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle d-flex align-items-center justify-content-center bg--orange p-1" style="width: 20px; height: 20px; font-size: xx-small;">
                                    <i class="fa fa-phone text-white" aria-hidden="true"></i>
                                </div>
                                <div class="ml-2 form__label">
                                    {{ formGroup.get('poste')?.value }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__group mt-3 w-100 text-center">
                        <label for="file" class="bt bt--blue" style="cursor: pointer;">Photo de profile</label>
                        <input 
                            type="file"
                            id="file" 
                            class="form__input"  
                            (change)="onFileChange($event)" 
                            multiple="false"
                            accept="image/png, image/jpeg"
                        >
                    </div>
                    <div *ngIf="loading" class="text-center">
                        <app-loader></app-loader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
