<div class="card">
    <div class="card-header">
        <i class="fa fa-images" aria-hidden="true"></i>&nbsp;&nbsp;
        Gestion des slides
    </div>
    <div class="card-body row">
        <div class="col-4 mb-3" style="height: 200px;" *ngFor="let slide of images; let i = index">
            <img [src]="previewImages[i].length > 0 ? previewImages[i] : slide.lien" alt="slide1" class="img-fluid img-thumbnail w-100 h-100 position-relative">
            <div 
                class="options h-100 p-3 bg-light position-absolute" 
                style="z-index: 1; top: 0; right: 0;">
                <div class="float-right">
                    <input type="file" [id]="'file'+i" (change)="onFileChange($event, i, false)">
                    <button class="btn btn-outline-secondary btn-sm d-block" matTooltip="Modifier" matTooltipPosition="right">
                        <label [for]="'file'+i" class="m-0" style="cursor: pointer;">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </label>
                    </button>
                    <button 
                        class="btn btn-outline-secondary mt-3 btn-sm d-block" 
                        matTooltip="Supprimer" 
                        matTooltipPosition="right"
                        (click)="onDelete(slide.id)"
                    >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button 
                        class="btn btn-outline-secondary mt-3 btn-sm d-block" 
                        [disabled]="previewImages[i].length == 0"
                        (click)="onUpdate(slide.id, i)"
                        matTooltip="Enregistrer la modification" matTooltipPosition="right">
                        <i class="fa fa-save" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-4 mb-3 text-center" style="height: 200px;">
            <img src="assets/images/back-add-slide.jpg" alt="slide1" class="img-fluid h-100 position-relative">
            <div 
                class="h-100 w-100 bg-white position-absolute d-flex align-items-center justify-content-center" 
                style="z-index: 1; top: 0; right: 0; opacity: .8;">
                <div>
                    <input type="file" id="addfile" (change)="onFileChange($event, -1, true)">
                    <button class="btn btn-outline-secondary btn-sm rounded-circle" matTooltip="Nouveau slide" matTooltipPosition="right">
                        <label for="addfile" class="m-0" style="cursor: pointer;">
                            <i class="fa fa-add" aria-hidden="true"></i>
                        </label>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>