<div class="animate__animated animate__fadeIn">
    <div class="d-flex justify-content-between">
        <div class="input-group w-50">
            <input 
                type="search" 
                class="input__search w-100" 
                placeholder="Recherche..."
                #search
                (input)="onSearch(search.value)"
            >
        </div>
        <button class="bt bt--blue" data-toggle="collapse" data-target="#collapseExample" [disabled]="update">
            {{ update ? '-- Modifier direction' : '-- Nouvelle direction' }}
        </button>
    </div>
    
    <div class="mt-3 w3-border pb-4 mb-4 collapse {{ update ? 'show' : '' }}" id="collapseExample">
        <div class="d-flex justify-content-between bg-light px-3 py-1 txt align-items-center txt--blue">
            <div>
                {{ update ? '-- Modifier direction' : '-- Nouvelle direction' }}
            </div>
            <button 
                (click)="onCancel()"
                class="btn m-0 py-0 px-1" 
                data-toggle="collapse" 
                data-target="#collapseExample">
                <i class="fa fa-close" aria-hidden="true"></i>
            </button>
        </div>
        <form 
            [formGroup]="formGroup"
            (ngSubmit)="onSubmitForm()"
            class="d-flex align-items-end justify-content-center pt-3">
            <div class="form__group" style="width: 20%;">
                <label for="site" class="form__label">Initiale <span class="text-danger">*</span></label>
                <input 
                    type="text" 
                    class="form__input w-100" 
                    placeholder="..."
                    formControlName="initiale"
                >
            </div>
            <div class="form__group" style="width: 35%;">
                <label for="direction" class="form__label">Direction <span class="text-danger">*</span></label>
                <input 
                    type="text" 
                    class="form__input w-100" 
                    placeholder="..."
                    formControlName="direction"
                >
            </div>
            <div class="form__group" style="width: 30%;">
                <label for="site" class="form__label">Site <span class="text-danger">*</span></label>
                <select class="form__select w-100" formControlName="site">
                    <option value="" selected>-- Choisir le site --</option>
                    <option *ngFor="let site of sites" [value]="site.Id">{{ site.LibelleSite }}</option>
                </select>
            </div>
            <button class="bt bt--green ml-3" [disabled]="formGroup.invalid">
                {{ update ? 'Modifier' : 'Enregistrer'}}
            </button>
        </form>
    </div>

    <div class="text-center" *ngIf="loadingEdit">
        <app-loader></app-loader>
    </div>

    <div class="mt-3">
        <div class="bg-dark text-white px-3 py-2" style="font-family: 'Montserrat';">
            <small>-- &nbsp;&nbsp; LISTE DES DIRECTIONS</small>
        </div>
        <div class="p-0">
            <table>
                <thead>
                    <tr>
                        <th>Direction.</th>
                        <th>Sigle.</th>
                        <th>Site.</th>
                        <th width="150"></th>
                    </tr>
                </thead>
                <tbody *ngIf="loading">
                    <tr align="center">
                        <td colspan="4">
                            <app-loader></app-loader>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="directions.length == 0 && !loading">
                    <tr>
                        <td align="center" colspan="4">Aucune donnée trouvée.</td>
                    </tr>
                </tbody>
                <tbody *ngIf="directions.length > 0 && !loading">
                    <tr *ngFor="let direction of directions | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                      let i = index">
                        <td>{{ direction.LibelleDirection }}</td>
                        <td>{{ direction.Initial }}</td>
                        <td>{{ direction.LibelleSite }}</td>
                        <td width="150" class="d-flex">
                            <button
                                (click)="onUpdate(direction)" 
                                class="btn btn-outline-primary btn-sm">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-outline-danger btn-sm ml-3" (click)="onDelete(direction.Id_direction)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="px-2 d-flex justify-content-end align-items-center" style="font-size: smaller;" *ngIf="directions.length > 0">
            <p>Total : [ {{ directions.length }} ]</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
            <div class="d-flex mr-3">
              Enregistrements par page :&nbsp;&nbsp;
              <select id="items-per-page" #value class="mr-3 mb-3" (change)="changeSize(value.value)">
                <option *ngFor="let size of tableSizes" [value]="size">{{ size }}</option>
              </select>
            </div>
          
            <div class="d-flex justify-content-center">
              <pagination-controls
                previousLabel="Précédent"
                nextLabel="Suivant"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
        </div>
    </div>
</div>