<div class="w3-animate-left">
    <div *ngIf="loading" class="mt-3 text-center">
        <app-loader></app-loader>
      </div>
    
    <div 
        id="carouselExampleCaptions" 
        class="carousel slide" 
        data-interval="5000" 
        data-ride="carousel"
        *ngIf="varAffich == 0">
        <ol class="carousel-indicators">
            <li 
                *ngFor="let slide of slides; let i = index"
                data-target="#carouselExampleCaptions"
                [attr.data-slide-to]="i"
            ></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item {{ i == 0 ? 'active' : ''}}" *ngFor="let slide of slides; let i = index">
                <img [src]="slide.lien" class="d-block w-100" style="height: 83vh;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
    <!-- En cas de résulat nul -->
    <div 
        *ngIf="nbrEnr == 0 && !loading"
        class="w-100 p-5 d-flex align-items-center justify-content-center animate__animated animate__bounceIn" style="height: 80vh;">
        <img src="assets/images/aucun-resultat.png" alt="" class="img-fluid h-75">
    </div>

    <!-- Si résulat trouvé -->
    <div class="container py-3 animate__animated animate__fadeIn" *ngIf="varAffich == 1 && !loading && nbrEnr > 0">
        <div class="text-success txt mb-3">
            <strong>{{ nbrEnr }} Résultat(s) trouvé(s) pour la recherche</strong>
        </div>
        <div class="p-3 row">
            <div class="col-sm-3 mb-4" *ngFor="let personnel of personnels">
                <div class="card-profile bg-light w3-border" matTooltip="Voir plus" matTooltipPosition="after" (click)="openDialog(personnel)">
                    <p class="py-1 w-50 text-center txt bg--red m-auto text-white rounded--bottom">
                        <strong>{{ personnel.Matricule }}</strong>
                    </p>
                    <div class="mt-3"></div>
                    <div class="user-profile m-auto">
                        <img [src]="personnel.Photo" alt="Photo de profile" class="img-thumbnail w-100 h-100">
                    </div>
                    <div class="p-3">
                        <div class="d-flex justify-content-center">
                            <h5 class="card-title text-center mb-0">
                                <strong>{{ personnel.Nom | uppercase }}</strong> {{ personnel.Prenoms | uppercase }}
                            </h5>
                        </div>
                        <p class="text-center text-danger mb-3 mt-0 text-overflow" style="font-size: x-small;">
                            <strong>{{ personnel.Fonction | titlecase }}</strong>
                        </p>
                        <div class="d-flex align-items-center mb-2">
                            <div class="rounded-circle d-flex align-items-center justify-content-center bg-danger p-1" style="width: 20px; height: 20px;">
                                <i class="fa fa-mobile-alt text-white" aria-hidden="true" style="font-size: xx-small;"></i>
                            </div>
                            <div class="ml-2">
                                {{ personnel.Mobile }}
                            </div>
                        </div>
                        <!-- <div class="d-flex align-items-center mb-2">
                            <div class="rounded-circle d-flex align-items-center justify-content-center bg-danger p-1" style="width: 30px; height: 30px;">
                                <i class="fa fa-envelope text-white" aria-hidden="true"></i>
                            </div>
                            <div class="ml-2 txt txt--blue">
                                {{ personnel.Email }}
                            </div>
                        </div> -->
                        <div class="d-flex align-items-center mb-3">
                            <div class="rounded-circle d-flex align-items-center justify-content-center bg-danger p-1" style="width: 20px; height: 20px;">
                                <i class="fa fa-phone text-white" aria-hidden="true" style="font-size: xx-small;"></i>
                            </div>
                            <div class="ml-2 form__label">
                                {{ personnel.TelBureau ? personnel.TelBureau : 'Aucun' }}
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>