#searchBar {
    border-radius: 5px;
    border: 1px solid rgb(231, 231, 231);
}

input {
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    padding-inline: 15px;
    padding-block: 7px;
}

#searchBar:has(input:focus) {
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
}

input::placeholder {
    font-family: 'Inter';
}

input::content {
    font-family: 'Inter';
}

#imageContainer {
    width: 120px;
    height: 120px;
    border-right: 5px solid #17a2b8;
}

#user-profile {
    width: 110px;
    height: 110px;
    background-color: grey;
}

.card-profile {
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}

.text-overflow {
    text-overflow: ellipsis; 
    overflow: hidden; 
    -o-text-overflow : ellipsis; 
    display: -webkit-box;    
    -webkit-line-clamp: 1;  
    -webkit-box-orient: vertical;
}