<div class="animate__animated animate__fadeIn">
    <div>
        <div class="bg--blue text-white px-3 py-2" style="font-family: 'Montserrat';">
            <small>-- &nbsp;&nbsp; GESTION DES COMPTES UTILISATEURS</small>
        </div>
        <div class="d-flex py-3 justify-content-between">
            <div class="w-25 px-3">
                <button class="bt bt--blue" (click)="ActivateField()" [disabled]="disableButton">
                    -- {{ update ? 'Modifier le compte utilisateur' : 'Nouveau compte utilisateur'}}
                </button>
                <form class="mt-3" [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
                    <div class="form__group mb-3">
                        <label for="" class="form__label">Email <strong class="text-danger">*</strong></label>
                        <input type="email" class="form__input" formControlName="email">
                    </div>
                    <div class="form__group mb-3">
                        <label for="" class="form__label">Nom d'utilisateur <strong class="text-danger">*</strong></label>
                        <input type="text" class="form__input" formControlName="login">
                    </div>
                    <div class="form__group mb-3">
                        <label for="" class="form__label">Mot de passe</label>
                        <input type="password" class="form__input" formControlName="mdp">
                    </div>
                    <div class="form__group form-check mb-3">
                        <input 
                            type="checkbox" 
                            class="form-check-input" 
                            id="exampleCheck1" 
                            formControlName="isAdmin">
                        <label class="form-check-label form__label" for="exampleCheck1">Administrateur</label>
                    </div>
                    <div class="d-flex px-3">
                        <input 
                            type="submit" 
                            [value]="update ? 'Modifier' : 'Enregistrer'" 
                            class="bt bt--green w-auto" 
                            [disabled]="formGroup.invalid || !disableButton">
                        <button class="bt bt--red ml-3 w-auto" (click)="onCancel()" [disabled]="!disableButton">
                            Annuler
                        </button>
                    </div>                
                </form>
                <div class="mt-3 text-center" *ngIf="loadingEdit">
                    <app-loader></app-loader>
                </div>
            </div>

            <div style="width: 74%;">
                <div>
                    <div class="bg-dark text-white px-3 py-2" style="font-family: 'Montserrat';">
                        <small>-- &nbsp;&nbsp; LISTE DES UTILISATEURS</small>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="pl-5">Email.</th>
                                    <th>Nom d'utilisateur.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="loading">
                                <tr align="center">
                                    <td colspan="3">
                                        <div class="card-body">
                                            <app-loader></app-loader>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="utilisateurs.length > 0 && !loading">
                                <tr *ngFor="let utilisateur of utilisateurs | paginate
                                : {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count
                                  };
                                  let i = index">
                                    <td class="text-info pl-5">{{ utilisateur.Email }}</td>
                                    <td>{{ utilisateur.Login }}</td>
                                    <td class="d-flex">
                                        <button   
                                            (click)="onUpdate(utilisateur)"
                                            class="btn btn-outline-primary btn-sm">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="px-2 d-flex justify-content-end align-items-center" style="font-size: smaller;" *ngIf="utilisateurs.length > 0">
                        <p>Total : [ {{ utilisateurs.length }} ]</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      
                        <div class="d-flex mr-3">
                          Enregistrements par page :&nbsp;&nbsp;
                          <select id="items-per-page" #value class="mr-3 mb-3" (change)="changeSize(value.value)">
                            <option *ngFor="let size of tableSizes" [value]="size">{{ size }}</option>
                          </select>
                        </div>
                      
                        <div class="d-flex justify-content-center">
                          <pagination-controls
                            previousLabel="Précédent"
                            nextLabel="Suivant"
                            (pageChange)="onTableDataChange($event)"
                          >
                          </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>