<div id="body" style="height: 100vh;">
    <header class="px-5 py-2 d-flex shadow justify-content-between align-items-center">
        <div class="h-100 d-flex align-items-center">
            <img src="favicon.ico" width="50">
            <h5 class="ml-3 font-weight-bold mt-1" style="font-family: 'Montserrat';">Trombino</h5>
        </div>
        <div>
            <a routerLink="/rechercherapide" routerLinkActive="current">
                <i class="fa fa-search" aria-hidden="true"></i>
                Recherche rapide
            </a>
            <a routerLink="/rechercheavancee" class="ml-3" routerLinkActive="current">
                <i class="fa fa-address-card"></i>
                Recherche avancée
            </a>
            <a routerLink="/numerosutiles" class="ml-3" routerLinkActive="current">
                <i class="fa fa-phone"></i>
                Numéros utiles
            </a>
        </div>
    </header>
    
    <div class="px-3 text-white" style="font-family: 'Montserrat'; font-size: small; background-color: #2c5989d3;">
        <marquee behavior="" direction="left" class="mt-1">
            Support Informatique : 911 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Entretien et Réparation : 4277 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            La guérite : 4274 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Sécurité (hall) : 4174 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Service froid : 4287 / 4263 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Service éléctricité : 4286 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Infirmérie : 4774 / 4724 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- Service nettoyage : 4118 -->
        </marquee>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>