a {
    font-family: 'Montserrat';
    font-size: small;
    text-decoration: none;
    color: #1c344ed3;
    font-weight: 500;
    padding-block: 15px;
    padding-inline: 15px;
    border-radius: 5px;
    transition: 0.1s;

    &:hover {
        color: #1b4e85;
        background-color: rgba(0, 0, 0, 0.068);
        border-top: 3px solid #1b4e85;
    }

    &.current {
        color: #1b4e85;
        background-color: rgba(0, 0, 0, 0.068);
        border-top: 3px solid #1b4e85;
    }
}

h5 {
    color: #2c5989d3;
}