<div class="animate__animated animate__fadeIn p-3">
    <div class="bg-dark text-white px-3 mb-3 py-2" style="font-family: 'Montserrat';">
        <small>-- &nbsp;&nbsp; NUMEROS UTILES</small>
    </div>
    <div *ngIf="loading" class="text-center">
        <app-loader></app-loader>
      </div>
    <div class="p-2" *ngIf="sites.length > 0 && !loading" style="font-family: 'Montserrat';">
        <div class="accordion" id="accordionExample">
            <div class="w3-border mb-2" *ngFor="let site of sites">
                <div class="bg-light">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                            [attr.data-target]="'#S' + site.Id" aria-expanded="true"
                            (click)="getNumBySite(site.Id)">
                            <i class="fa fa-map-marker-alt" aria-hidden="true"></i>&nbsp;&nbsp;
                            {{ site.LibelleSite }}
                        </button>
                    </h2>
                </div>

                <div id="{{ 'S' + site.Id }}" class="collapse"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div *ngIf="loadingNum" class="card-body">
                            <div style="width: max-content;" class="m-auto">
                              <div class="spinner-grow text-info" style="width: 20px; height: 20px" role="status">
                                <span  class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow text-info" style="width: 20px; height: 20px" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow text-info" style="width: 20px; height: 20px" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </div>
                        </div>

                        <div class="text-center" *ngIf="numerosUtiles.length == 0 && !loadingNum">
                            Aucun numéro
                        </div>

                        <div class="row" *ngIf="numerosUtiles.length == 1 && !loadingNum">
                            <div class="col-6 px-2">
                                <div style="font-size: small;"
                                    class="d-flex justify-content-between" 
                                    *ngFor="let numeroutile of numerosUtiles">
                                    <p>{{ numeroutile.LibelleNumeroUtile }}</p>
                                    <p class="text-danger">
                                        <strong>{{ numeroutile.Numero }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="numerosUtiles.length > 1 && !loadingNum" class="row">
                            <div 
                                class="col-4 px-2" 
                                *ngFor="let nbr of [].constructor(3); let i = index">
                                <div style="font-size: small;"
                                    class="d-flex justify-content-between" 
                                    *ngFor="let numeroutile of numerosUtiles[i]">
                                    <p>{{ numeroutile.LibelleNumeroUtile }}</p>
                                    <p class="text-danger">
                                        <strong>{{ numeroutile.Numero }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>